.btnStyle {
  display: flex;
  height: 4em;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 1.4em;
  background-color: #c1d1ee;
  color: whitesmoke;
  border: 5px solid whitesmoke;
  border-radius: 50%;
}

.operator {
  background-color: #d1eec1;
  color: #7d8e73;
}
