.input {
  display: flex;
  height: 4em;
  flex: 1;
  background-color: #eec1d1;
  outline: 5px solid whitesmoke;
  color: whitesmoke;
  justify-content: center;
  font-weight: bold;
  font-size: 1.4em;
  padding: 0.5em;
  align-items: center;
  border-radius: 20px;
}
